/* Couleurs
Vert : #659857
Rouge brique : #A52B17 / rgba(165, 43, 23, 1)
*/

$vert='#659857'
$rouge='#A52B17'

body {
    overflow-x: hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 200;
    letter-spacing: 1px;
}
.text-maj {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}
.no-padding {
    padding: 0;
}
.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.text-muted {
    color: #777
}
.text-primary {
    color: #659857
}
.text-over-red {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-description-title {
    font-weight: 200;
    letter-spacing: 1px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
}
.text-description {
    font-weight: 200;
    letter-spacing: 1px;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: justify;
    font-size: 13px;
}
p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 220;
    letter-spacing: 1px;
}
p.large {
    font-size: 16px
}
p.tight {
    line-height: 1
}
p.little {
    font-size: 11px;
    color: #666;
    font-style: italic;
}
a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0
}
a {
    color: #659857
}
a:hover,
a:focus,
a:active,
a.active {
    color: #659857
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
hr {
    border-top: 6px solid #659857;
    max-width: 100px;
    margin: 25px auto;
    border-bottom: none;
}
.img-centered {
    margin: 0 auto
}
.bg-light-gray {
    background-color: #f7f7f7
}
.bg-darkest-gray {
    background-color: #222
}
.btn-primary {
    color: #fff;
    background-color: #659857;
    border-color: #659857;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #659857;
    border-color: #659857
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
    background-color: #659857;
    border-color: #659857
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #659857;
    border-color: #659857
}
.btn-primary .badge {
    color: #659857;
    background-color: #fff
}
.btn-xl {
    color: #fff;
    background-color: #659857;
    border-color: #659857;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    background-color: #659857;
    border-color: #659857
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    background-image: none
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    background-color: #659857;
    border-color: #659857
}
.btn-xl .badge {
    color: #659857;
    background-color: #fff
}
.navbar-default {
    background-color: #A52B17;
    border-color: transparent;
    min-height: 30px;
    width: 100%;
    z-index: 200;
}
.navbar-default .navbar-brand {
    color: #659857;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-brand .logo{
    border-radius: 100%;
    max-width: 40px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #659857
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle {
    background-color: #659857;
    border-color: #659857;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #A52B17
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #659857
}
.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    padding-top: 10px;
    padding-bottom:  10px
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #659857;
    outline: 0
}
.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #fff;
    background-color: #659857
}
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: #659857
}
@media (min-width: 768px) {
    .navbar-default {
        background-color: #A52B17;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: rgba(165, 43, 23, 0.94);
        padding: 10px 0
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
		padding-top: 0px;
		padding-bottom:  10px;
		height: 30px
    }
}
.navbar-fixed-top {
  position: fixed;
}
div.social-test{
    position: fixed;
    top: 140px;
    z-index: 999;
}
.btn.btn-primary.social-test{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

header {
    text-align: center;
    color: #fff
}
#header-photo{
    background-image: url(../img/compo_7.jpg);
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
header .intro-text {
    padding-top: 80px;
    padding-bottom: 30px
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 35px;
}
header .intro-text .intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px
}
@media (min-width: 768px) {
    header .intro-text {
        padding-top: 300px;
        padding-bottom: 150px
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 60px
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 75px;
        line-height: 75px;
    }
}
section {
    padding: 10px 0
}
section h2.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px
}
section h3.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 25px
}
section p.section-description {
    font-size: 14px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 50px
}
@media (min-width: 768px) {
    section {
        padding: 100px 0
    }
}
.service-heading {
    margin: 15px 0;
    text-transform: none
}
#decouverte .decouverte-item {
    margin: 0 0 15px;
    right: 0
}
#decouverte .decouverte-item .decouverte-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto
}
#decouverte .decouverte-item .decouverte-link .decouverte-hover {
    background: rgba(165, 43, 23, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease .5s;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s
}
#decouverte .decouverte-item .decouverte-link .decouverte-hover:hover {
    opacity: 1
}
#decouverte .decouverte-item .decouverte-link .decouverte-hover .decouverte-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff
}
#decouverte .decouverte-item .decouverte-link .decouverte-hover .decouverte-hover-content i {
    margin-top: -12px
}
#decouverte .decouverte-item .decouverte-link .decouverte-hover .decouverte-hover-content h3,
#decouverte .decouverte-item .decouverte-link .decouverte-hover .decouverte-hover-content h4 {
    margin: 0px;
}
#decouverte .decouverte-item .decouverte-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
    height: 174px
}
#decouverte .decouverte-item .decouverte-caption h4 {
    text-transform: none;
    margin: 0
}
#decouverte .decouverte-item .decouverte-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    margin: 0px;
}
#decouverte * {
    z-index: 2
}
#decouverte .img-responsive {
    width: 262px;
    height: 170px
}
@media (min-width: 767px) {
    #decouverte .decouverte-item {
        margin: 0 0 30px
    }
}
.timeline {
    list-style: none;
    padding: 0;
    position: relative
}
.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 2px;
    background-color: #f1f1f1;
    left: 40px;
    margin-left: -1.5px
}
.timeline>li {
    margin-bottom: 50px;
    position: relative;
    min-height: 50px
}
.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table
}
.timeline>li:after {
    clear: both
}
.timeline>li .timeline-panel {
    width: 100%;
    float: right;
    padding: 0 20px 0 100px;
    position: relative;
    text-align: left
}
.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li .timeline-image {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    color: #A52B17;
    border-radius: 100%;
    border: 7px solid #659857;
    text-align: center
}
.timeline>li .timeline-image-important {
    left: 0;
    margin-left: 0;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    color: #A52B17;
    border-radius: 100%;
    border: 7px solid #A52B17;
    text-align: center
}
.timeline>li .timeline-image h4 {
    font-size: 10px;
    margin-top: 12px;
    line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
    padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto
}
.timeline>li:last-child {
    margin-bottom: 0
}
.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
    font-size: 14px;
}
.timeline .timeline-heading h4.subheading {
    text-transform: none;
    font-size: 13px;
}
.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
    font-size: 12px;
}
@media (min-width: 768px) {
    .timeline:before {
        left: 50%
    }
    .timeline>li {
        margin-bottom: 0px;
        min-height: 100px
    }
    .timeline>li .timeline-panel {
        width: 41%;
        float: left;
        padding: 20px 20px 20px 30px;
        text-align: right
    }
    .timeline>li .timeline-image {
        width: 100px;
        height: 100px;
        left: 50%;
        margin-left: -50px
    }
    .timeline>li .timeline-image h4 {
        font-size: 13px;
        margin-top: 5px;
        line-height: 18px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
        padding: 0 30px 20px 20px
    }
}
@media (min-width: 992px) {
    .timeline>li {
        min-height: 150px
    }
    .timeline>li .timeline-panel {
        padding: 0 20px 20px 0px
    }
    .timeline>li .timeline-image {
        width: 120px;
        height: 120px;
        margin-left: -60px
    }
    .timeline>li .timeline-image h4 {
        font-size: 14px;
        margin-top: 5px;
        line-height: 26px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px 0px;
    }
}
@media (min-width: 1200px) {
    .timeline>li {
        min-height: 170px
    }
    .timeline>li .timeline-panel {
        padding: 25px 20px 20px 0px
    }
    .timeline>li .timeline-image {
        width: 120px;
        height: 120px;
        margin-left: -60px
    }
    .timeline>li .timeline-image h4 {
        margin-top: 10px
    }
    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 25px 0px 20px 20px
    }
}
.team-member {
    text-align: center;
    margin-bottom: 50px
}
.team-member img {
    margin: 0 auto;
    border: 7px solid #fff
}
.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none
}
.team-member p {
    margin-top: 0
}
aside.clients img {
    margin: 50px auto;
    background-color: #f7f7f7;
    vertical-align: middle;
    max-width: 200px;
    max-height: 80px
}
@media (min-width: 768px) {
    aside.clients {
        padding: 100px 10px 10px 10px
    }
}
section#contact {
    background-color: #f7f7f7;
    /*background-image: url(../img/map-image.png);*/
    background-position: center;
    background-repeat: no-repeat
}
section#contact .section-heading {
    color: #333
}
section#contact .form-group {
    margin-bottom: 5px
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 10px
}
section#contact .form-group input.form-control {
    height: auto
}
section#contact .form-group textarea.form-control {
    height: 200px
}
section#contact .form-control:focus {
    border-color: #659857;
    box-shadow: none
}
section#contact::-webkit-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact::-moz-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact:-ms-input-placeholder {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #bbb
}
section#contact .text-danger {
    color: #e74c3c
}
footer {
    padding: 10px 0;
    text-align: center
}
footer span.copyright {
    line-height: 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none;
    font-size: 10px;
}
footer ul.quicklinks {
    margin-bottom: 0;
    line-height: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    text-transform: none
}
ul.social-buttons {
    margin-bottom: 0
}
ul.social-buttons li a {
    display: block;
    background-color: #A52B17;
    height: 40px;
    width: 40px;
    border-radius: 0px 3px 3px 0px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    outline: 0;
    padding-left: 14px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
}
ul.social-buttons.facebook li a {
    background-color: rgb(59,89,152);
}
ul.social-buttons.map li a {
    background-color: #659857;
    padding-left: 12px;
}
ul.social-buttons.email li a {
    background-color: #A52B17;
    padding-left: 10px;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    width: 45px;
    padding-left: 18px;
}
div.social-text-button li a:hover,
div.social-text-button li a:focus,
div.social-text-button li a:active {
    font-size: 0px;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
    background-color: #659857;
    border-color: #659857
}
.modal-open .modal {
    overflow-y: hidden;
}
.decouverte-modal .modal-content .row {
    margin-left: 0px;
    margin-right: 0px;
}
.decouverte-modal {
    text-align: center;
    padding-top: 50px;
    /*display: block;*/
}
.decouverte-modal .modal-content {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}
.decouverte-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 30px;
    color: #A52B17;
}
.decouverte-modal .modal-content p {
    margin-bottom: 30px
}
.decouverte-modal .modal-content .tel {
    margin-bottom: 30px;
    color: #659857;
    text-align: left;
}
.decouverte-modal .modal-content p.sous-titre {
    margin: 20px 0 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.decouverte-modal .modal-content p.description {
    margin: 0px 0 30px;
    font-size: 14px;
    color: #333;
}
.decouverte-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0
}
.decouverte-modal .modal-content img {
    margin-bottom: 30px
}
.modal-content .close-modal {
    position: absolute;
    background-color: transparent;
    text-align: right;
    padding-right: 25px;
    padding-top: 20px;
    cursor: pointer;
    color: #659857;
    opacity: .4
}
.modal-content .close-modal:hover {
    opacity: 1;
}
.decouverte-modal .modal-backdrop {
    opacity: 0;
    display: none
}
::-moz-selection {
    text-shadow: none;
    background: #659857
}
::selection {
    text-shadow: none;
    background: #659857
}
img::selection {
    background: 0 0
}
img::-moz-selection {
    background: 0 0
}
body {
    webkit-tap-highlight-color: #659857
}
.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.portfolio-box .portfolio-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity: 0;
    background: rgba(165, 43, 23, .7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
}

.portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}

@media(min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
        font-size: 16px;
    }

    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
        font-size: 22px;
    }
}

/* Barre d'en-tête */
.header-top {
    font-size: 12px;
    color: #fff;
    font-weight: 300;
    background-color: #2e3537;
    border-bottom: 1px solid #252a2c;
    padding-top: 5px;
}
.header-top .social-links {
    margin: 2px 0 0;
    display: inline-block;
}
.pr-5 {
    padding-right: 5px;
}
.pl-10 {
    padding-left: 10px;
}


.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:active,
.nav-pills>li.active>a,
.nav-pills>li>a:hover,
.nav-pills>li>a:focus,
.nav-pills>li>a:active,
.nav-pills>li>a{
    left: 0;
    width: 170px;
    height: 70px;
    position: relative;
    z-index: 100;
    background-color: #f1f1f1;
    color: #659857;
    border-radius: 10px;
    border: 3px solid #659857;
    text-align: center;
    margin: 10px;
}
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:active,
.nav-pills>li.active>a {
    width: 190px;
    z-index: 100;
    color: #A52B17;
    border: 4px solid #A52B17;
}
.nav-pills li a:hover,
.nav-pills li a:focus,
.nav-pills li a:active {
    color: #659857;
    background-color: #f1f1f1;
    outline: 0
}


.nav-tabs>li {
    margin-bottom:0px;
    border-bottom:1px solid #e6e6e6;
}
.nav-tabs {
    border-bottom:transparent;
    border-right:1px solid #e6e6e6;
}
.nav-tabs>li>a {
    background:#f5f5f5;
    color:#666;
    border-radius:0;
    border:0 none;
    line-height:24px;
    margin-right:0;
    padding:24px 20px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
.nav-tabs li:last-child{
    border-bottom:0 none;
    border-bottom-left-radius: 4px;
}
.nav-tabs li:first-child{
    border-top-left-radius: 4px;
}
.nav-stacked>li+li{margin-top:0;}
.nav-tabs>li>a:hover{
    background:#659857;
    color:#fff;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
    border:0;color:#fff;
    background:#659857;
    position:relative;
}
.nav-tabs>li.active>a:after{
    position:absolute;
    content:"";
    width:auto;
    height:auto;
    border-style:solid;
    border-color:transparent transparent transparent #659857;
    border-width:36px 30px;
    right:-60px;
    top:0;
}
.tab-wrap{
    border:1px solid #659857;
    border-radius: 0px 8px 8px 0px;
    margin-bottom:20px;}
.tab-content{
    padding:30px;
    padding-bottom: 10px;
}
.tab-content h2{margin-top:0;}
.tab-content img{
    border-radius: 4px;
    height: 175px;
    width: 263px;
    margin-bottom: 15px;
    margin-right: 20px;
}
.tab-content-img-hover {
    border-radius: 4px;
    height: 175px;
    width: 263px;
    display: block;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    opacity: 0;
    background-color: rgba(165, 43, 23, .7);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.tab-content-img-hover:hover{
    opacity: 1;
}
.tab-content-img-hover>p{
    line-height: 175px;
}

.sport-icon{
    border-radius: 100%;
    background-color: #659857;
}
.sport-icon:hover{
    opacity: 0.7;
}


/***********************************************
* Stages et initiations
***********************************************/
.encadre {
    background-color: white;
    min-height: 28px;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.02), 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}
.encadre>p {
    font-size: 12px;
    margin-bottom: 10px !important;
}
.encadre .title{
    font-size: 15px;
    text-transform: uppercase;
    color: rgba(165, 43, 23, 1);
    padding : 10px;
    font-weight: 500;
}
.encadre .face-title{
    font-size: 14px;
    text-transform: uppercase;
    color: rgba(165, 43, 23, 1);
    padding : 0px;
    font-weight: 500;
    margin: 0px !important;
}
.encadre .face-under-title{
    font-size: 13px;
    padding : 0px;
    font-weight: 400;
    color: rgba(165, 43, 23, 1);
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}
.encadre .description{
    font-size: 11px;
    text-align: justify;
}
.encadre .list{
    font-size: 14px;
    margin: 0px !important;
    color: #659857;
    font-weight: 700;
}
.encadre .list>p{
    margin-bottom:10px !important;
    display: block;
}
.encadre>p>highlight {
    color: #659857;
    font-weight: 500;
}
.encadre .quote {
    color: #659857;
    position: absolute;
    font-size: 25px;
}
.encadre .quote-left {
    top: 10px;
    left: 10px;
}
.encadre .quote-right {
    bottom: 10px;
    right: 10px;
}
.encadre .quote-face {
    width: 100%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px !important;
}
.encadre .info-icon {
    font-size: 12px;
    margin-bottom: 0px !important;
}
.encadre .infos {
    font-size: 12px;
    margin-top: 10px !important;
}
.encadre .titre-vertical {
    font-size: 16px;
    text-transform: uppercase;
    color: #A52B17;
    -webkit-transform: rotate(270deg);	
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

/***********************************************
* Tableau des réservations mur à gauche
***********************************************/
.resa-h>td.active, .resa-h>td.success{
    vertical-align: middle;
    font-size: 10px;
}
.resa-h>td.active, .resa-h>td.success{
    border: 1px solid #ddd;
}
.resa-h>th{
    font-size: 12px;
}


/***********************************************
* Scroll to top
***********************************************/
#scroll-to-top {  
    position: fixed;
    right: 24px;
    bottom: 40px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: rgba(101,152,87,0.4);
    color: #A52B17;
    text-align: center;
    -webkit-transition: all .3s;
    transition: all .3s;
    cursor: pointer;
    opacity: 0;
    border-radius: 100%;
    font-size: 120%;
}

#scroll-to-top.visible {
    opacity: 1;
}

/***********************************************
* News - templates
***********************************************/
#panel-box-news{
    border-color: #659857;
    color: #659857;
    border-radius: 2px;
}
#panel-box-news .panel-heading{
    color: #A52B17;
    font-size: 14px;
    background-color: rgba(101,152,87,0.4);
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
}
#panel-box-news .panel-title{
    color: #A52B17;
    font-size: 14px;
    font-weight: 200;
}
#panel-box-news .date>p{
    font-size: 11px;
    color: #659857;
    padding: 0px;
    text-align: left;
    margin: 0px;
}
#panel-box-news .fa{
    display: block;
}

#panel-box-news .title{
    text-align: left;
}
#panel-box-news .title>a{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.75;
    letter-spacing: 1px;
    font-size: 12px;
    color: #A52B17;
    text-align: left;
    font-weight: 400;
}
#panel-box-news .title>p{
    font-size: 12px;
    color: #A52B17;
    text-align: left;
    font-weight: 400;
}
#panel-box-news .photo>img{
    max-height: 150px;
    margin: auto;
}

#panel-box-news .media>img{
    width: 100%;
    margin: auto;
}
#panel-box-news .caption{
    text-align: left;
    color: #333;
}
#panel-box-news .post-tag{
    display: block;
    text-transform: lowercase;
    font-size: 12px;
    color: #A52B17;
    margin: 0px;
}
#panel-box-news .post-title{
    display: block;
    margin-bottom: 0px;
}
#panel-box-news .post-date{
    display: block;
    font-size: 11px;
    color: #659857;
}
#panel-box-news .post-description{
    display: block;
    font-size: 12px;
}

#navbar-news{
    padding: 20px;
    margin: 20px;
    height: 80px;
    margin-bottom: 30px;
    background-color: white;
    position: relative;
    z-index: 101;
}
#navbar-news .title{
    font-size: 24px;
}
#navbar-news .under-title{
    color: #A52B17;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
#navbar-news .historique li a{
    font-size: 14px;
    background-color: white;
    color: #A52B17;
}


/***********************************************
* Bandeau photos
***********************************************/
.bandeau_photos>img {
    max-height: 150px;
    height: 150px;
    width: auto;
}



/***********************************************
* News - fenêtre modale détails
***********************************************/

.modal-details {
    text-align: center;
    padding-top: 50px;
    /*display: block;*/
}
.modal-details .modal-content {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal-details .modal-content h2 {
    color: #A52B17;
    font-size: 30px;
}
.modal-details .modal-content .sous-titre {
    font-size: 14px;
    color: #A52B17;
    text-transform: uppercase;
    text-align: left;
    padding-top: 15px;
}
.modal-details .modal-content p {
    font-size: 12px;
    text-align: left;
    padding: 0px;
    margin: 0px;
}
.modal-details .modal-content p.item-intro {
    font-size: 14px;
    color: #659857;
    padding-bottom: 15px;
}
.modal-details .modal-content img {
    margin-bottom: 10px;
    max-height: 180px;
    border-radius: 5px;
}
.modal-details .close-modal {
    position: absolute;
    background-color: transparent;
    text-align: right;
    padding-right: 25px;
    padding-top: 20px;
    cursor: pointer;
    color: #659857;
    opacity: .4
}
.modal-details .close-modal:hover {
    opacity: 1;
}


.lien_news {
    text-align: left;
    font-size: 12px;
    padding-top: 5px;
}

.scrolloff {
    pointer-events: none;
}